
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-slate-950 text-slate-50;
    font-family: 'Inter', sans-serif;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600;
  }
}
